@model Slug.Model.SimpleChat.CutConversation
@using Slug.Extensions


<div class="conver_div" id="@Model.GuidId" style="background-color:cadetblue; cursor:grabbing">
    <img height="45" width="45" src="@Model.AvatarPath" />
    <p>@Model.InterlocutorName  @Model.InterlocutorSurName</p>
    <p>@Model.LastMessage</p>
</div>