@model Slug.Model.DialogMessage
@using Slug.Extensions

@if (Model.IsIncomming == false)
{
<div class="dialog_msg_out">
        <div class="out_content">
            <img src="@Model.AvatarPath" />
            <a>@Model.UserName</a>
            <span>@Model.SendTime</span>
            <p>@Model.Text</p>
            <div class="triangle_wrapper_out"><div class="triangle_container"><div class="triangle"></div></div></div>
        </div>
    </div>
}
else
{
<div class="dialog_msg_in">
    <div class="in_content">
            <img src="@Model.AvatarPath" />
            <a>@Model.UserName</a>
            <span>@Model.SendTime</span>
            <p>@Model.Text</p>
            <div class="triangle_wrapper_in"><div class="triangle_container"><div class="triangle"></div></div></div>
        </div>
    </div>
}

