@model Slug.Model.SimpleChat.ConversationModel
@using Slug.Extensions


<div class="conver_div" id="@Model.GuidId">
    <img src="@Model.InterlocutorAvatar" />
    <h2>@Model.InterlocutorName  @Model.InterlocutorSurName</h2>
    <p>@Model.LastMessage</p>
</div>