@model Slug.Model.Messager.SimpleChat.MessageModel
@using Slug.Extensions

@{ 
    string dialogWrapperClass = "dialog-msg-wrapper-out";
    string dialogContentClass = "out-content";
    string ownAvatarImgClass = "own-avatar";
    if (Model.IsIncomming == true)
    {
        dialogWrapperClass = "dialog-msg-wrapper-in";
        dialogContentClass = "in-content";
        ownAvatarImgClass = "";
    }
}

<div class="@dialogWrapperClass">
    <div class="@dialogContentClass">
        <div class="message-header" onclick="redirectToUser(@Model.SenderId)">
            <span class="user-name">@Model.UserName @Model.UserSurname</span>
            <span class="send-time">@Model.SendTime</span>
        </div>
        <div class="message-body">
            <div>
                <img alt="myself avatar"  onclick="redirectToUser(@Model.SenderId)" src="@Model.AvatarPath" class="@ownAvatarImgClass"/>
            </div>
            <span>@Model.Text</span>
        </div>
    </div>
</div>