@model Slug.Model.DialogMessage
@using Slug.Extensions

@{ 
    string dialogWrapperClass = "dialog-msg-wrapper-out";
    string dialogContentClass = "out-content";
    if (Model.IsIncomming == true)
    {
        dialogWrapperClass = "dialog-msg-wrapper-in";
        dialogContentClass = "in-content";
    }
}

<div class="@dialogWrapperClass">
    <div class="@dialogContentClass">
        <div class="message-header">
            <h4>@Model.UserName @Model.UserSurname</h4>
            <span>@Model.SendTime</span>
        </div>
        <div class="message-body">
            <div>
                <img src="@Model.AvatarPath" />
            </div>
            <span>@Model.Text</span>
        </div>
    </div>
</div>