
@{
    ViewBag.Title = "c_msg";
    Layout = "~/Views/Shared/private_template.cshtml";
    string expiredHeight;
    string dialogMsgWrapperClass;
    string contentSecretClass;
}
@model  Slug.Model.CryptoDialogModel
@using Slug.Extensions
<link href="~/Styles/private/search-result-style.css" rel="stylesheet" />
<link href="~/Styles/private/secret-dialog-style.css" rel="stylesheet" />

<title>Зашифрованный диалог</title>
<div class="active-chat-period">
    @if (!Model.isExpired)
    {
        <span>
            Осталось : <span class="experation-mins">@Model.MinsLeft</span> мин
            <span class="experation-sec">@Model.SecLeft</span> сек
        </span>
    }
</div>

@{
    if (Model.isExpired)
    {
        expiredHeight = "height:600px;";
    }
    else
    {
        expiredHeight = "";
    }
}

<div class="dialog stylized-scrollbar" style="@expiredHeight">

    @foreach (var msg in Model.Messages)
    {
        if (msg.IsIncomming)
        {
            dialogMsgWrapperClass = "dialog-msg-wrapper-in";
            contentSecretClass = "in-content-secret";
        }
        else
        {
            dialogMsgWrapperClass = "dialog-msg-wrapper-out";
            contentSecretClass = "out-content-secret";
        }
        <div class="@dialogMsgWrapperClass">
            <div class="@contentSecretClass container-in-out">
                <div class="crypto-message-header">
                    <h4>@msg.Name</h4>
                    <span>@msg.SendDate.ToString("hh:mm")</span>
                    <img class="lock-msg-img" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25,w_25/v1562229078/lock-msg.png">
                </div>
                <div class="crypto-message-body">
                    <div>
                        <img src="@msg.AvatatURI" />
                    </div>
                    <span class="crypt-message">@msg.Text</span>
                </div>
            </div>
        </div>
    }
</div>

@if (!Model.isExpired)
{
    <div class="send_msg">
        <div class="text-area-container">
            <textarea id="new_text" class="stylized-scrollbar"></textarea>
            <button id="sendButton" onclick="crypt_send()">@Html.Translate("Button_Send_Message")</button>
        </div>
    </div>

}
<div class="result-pagination stylized-scrollbar">
    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        <div class="search-link-container" id="pagination-link-@i">
            <a href="@Url.Action("c_msg","private", new { id=Model.GuidId, page=i })">@i</a>
        </div>
    }
</div>
<span id="myAvatar" style="display:none">@ViewBag.MyAvatar</span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="~/Scripts/Private/Common/DynamicHtmlNodes/DynamicNodes.js"></script>
<script src="~/Scripts/Private/Dialogs/CryptoDialog/Сommunication.js"></script>
<script src="~/Scripts/Private/Dialogs/CryptoDialog/ExperationTimer.js"></script>
<script src="~/Scripts/Private/Profile/SelectPaginationActivePage.js"></script>
<script>

    $(document).ready(function () {
        var objDiv = $(".dialog")[0];
        objDiv.scrollTop = objDiv.scrollHeight;
    });
    StartTimer();
</script>
