
@{
    ViewBag.Title = "c_msg";
    Layout = "~/Views/Shared/private_view.cshtml";
}
@using Slug.Extensions

<h2>@Html.Translate("Text_Secret_Dialog_Title")</h2>
<div id="c_msgs">
    @foreach (var msg in Model.Messages)
    {
    <div class="c_msg"><img src="@msg.AvatatURI" height="30" width="30" />
    <span>@msg.Name</span>
    <p>@msg.SendDate</p>
    <span>@msg.Text</span>
    </div>
    }
</div>
<div id="pages" style="display:inline">
    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        <a href="@Url.Action("c_msg","private", new { id=Model.GuidId, page=i })">@i</a>
    }
</div>
<div id="new_msg_form">
    <input id="new_text" type="text" />
    <input id="send" type="button" value="@Html.Translate("Button_Send_Message")" onclick="crypt_send()" />
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="~/Scripts/crypto_dialog.js"></script>