
@{
    ViewBag.Title = "friend";
    Layout = "~/Views/Shared/logo.cshtml";
}

<h2>@Model.Name @Model.SurName</h2>

<div id="user_cut_data">
    <img src="@Model.AvatarPath" />
    <p>@Model.Name</p>
    <p>@Model.SurName</p>
    <p>@Model.DateOfBirth</p>
    <p>@Model.Sity</p>
    <p><button id="@Model.UserId" onclick="create_form(this)">Send Message</button></p>
</div>


<script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/Scripts/newMessageFromPage.js"></script>