@{
    Layout = "~/Views/Shared/private_template.cshtml";
    @model Slug.Model.Users.Relations.ProfileModel
}
@using Slug.Extensions
@using Slug.Context.Dto.Search;

<link href="~/Styles/private/album-review-style.css" rel="stylesheet" />
<link href="~/Styles/private/profile-info-style.css" rel="stylesheet" />
<link href="~/Styles/common/navigation-arrows-style.css" rel="stylesheet" />
<link href="~/Styles/private/tabs-style.css" rel="stylesheet" />
<link href="~/Styles/private/friend-profile-style.css" rel="stylesheet" />

@RenderPage("~/Views/Partial/Albums/ExpandFriendAlbum.cshtml")
@{
    var purpose = new Dictionary<DatingPurposeEnum, string>()
{
{DatingPurposeEnum.Communication, "общения"},
{DatingPurposeEnum.SeriousRelationship, "серьезных отношений"},
{DatingPurposeEnum.Sex, "секса"},
{DatingPurposeEnum.NoDating, "не знакомлюсь"},
};

    var sex = new Dictionary<SexEnum, string>()
{
{SexEnum.man, "мужчиной"},
{SexEnum.woman, "женщиной"}
};

    var age = new Dictionary<AgeEnum, string>()
{
{AgeEnum.from16to20, "16 - 20 лет"},
{AgeEnum.from21to26, "21 - 26 лет"},
{AgeEnum.from27to32, "27 - 32 лет"},
{AgeEnum.from33to40, "23 - 40 лет"},
{AgeEnum.from41to49, "41 - 49 лет"},
{AgeEnum.from50to59, "50 - 59 лет"},
{AgeEnum.from60to69, "60 - 69 лет"},
{AgeEnum.morethan70, "более 70"}
};
}

<div class="-user-profile">
    <div class="-info -left">
        <img alt="avatar" src="@Model.LargeAvatar">
    </div>

    <div class="-info -right">
        <h2>@Model.Name @Model.SurName</h2>
        <span>@Model.Age</span>
        <span>@Model.Country @Model.City</span>
        <span id="hello-status">@Model.HelloMessage</span>
        <div class="user-search-data">
            @if (Model.purpose != Slug.Context.Dto.Search.DatingPurposeEnum.NoDating)
            {
                <span>Познакомлюсь с </span>
                <span>@sex[Model.userSearchSex]</span>
                <span>@age[Model.userSearchAge]</span>
                <span>@purpose[Model.purpose]</span>
            }
            else
            {
                <span>Не знакомлюсь</span>
            }
        </div>
        <div class="message-form">
            <input type="checkbox" id="new-message-checkbox" />
            <button id="open-new-message-button">Сообщение</button>
            <button id="delete-friend" onclick="dropFromContacts(@Model.UserId)">Удалить из друзей</button>

            <div id="new_message_to_user">
                <div>
                    <textarea id="message-to-user-area"></textarea>
                </div>
                <div class="send-new-message-form">
                    <button onclick="SendMessage(@Model.UserId, $('#message-to-user-area').val())">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="private-userinfo-devide" class="tabs">
    <div class="tab">
        <input type="radio" id="tab2" name="tab-group" checked />
        <label class="tab-title" for="tab2">Стена</label>
        <div class="tab-content">
            <div class="all-user-posts">
                @if (Model.Posts.Count > 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        Html.RenderPartial("~/Views/Partial/OwnPage/post.cshtml", post, new ViewDataDictionary<Slug.Model.FullInfo.PostModel>(post));
                    }
                    if (!Model.IsAllPostsUploaded)
                    {
                        <div class="more-posts-container">
                            <button class="more-posts-button" onclick="GetMoreFriendPosts(@Model.Posts.Count, @Model.UserId)">Ешё</button>
                        </div>
                    }
                }
                else
                {
                    <div class="no-posts-container">
                        <span>На стене пользователя нет записей</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="tab1" name="tab-group" />
        <label class="tab-title" for="tab1">Информация</label>
        <div class="tab-content">
            <div class="profile-full-info-item-wrapper">
                <h2>Альбомы(@Model.Albums.Count)</h2>
                <div id="albums-container">
                    @foreach (var item in Model.Albums)
                    {
                        Html.RenderPartial("~/Views/Partial/FriendPage/friend_album.cshtml", item, new ViewDataDictionary<Slug.Model.Albums.AlbumModel>(item));
                    }
                </div>
            </div>
            <div class="profile-full-info-item-wrapper">
                <h2>Важные События(@Model.Events.Count)</h2>
                @if (@Model.Events.Count > 0)
                {
                    <input type="checkbox" class="expand-checkbox">
                    <div class="expand"></div>
                }
                <div class="expanded-info">
                    @if (Model.Events.Count != 0)
                    {
                        foreach (var item in Model.Events)
                        {
                            Html.RenderPartial("~/Views/Partial/FriendPage/events.cshtml", item, new ViewDataDictionary<Slug.Model.Users.MemorableEventsModel>(item));
                        }
                    }
                </div>
            </div>
            <div class="profile-full-info-item-wrapper">
                <h2>Работа(@Model.Works.Count)</h2>
                @if (@Model.Works.Count > 0)
                {
                    <input type="checkbox" class="expand-checkbox">
                    <div class="expand"></div>
                }
                <div class="expanded-info">
                    @foreach (var item in Model.Works)
                    {
                        Html.RenderPartial("~/Views/Partial/FriendPage/work.cshtml", item, new ViewDataDictionary<Slug.Model.Users.WorkPlacesModel>(item));
                    }
                </div>
            </div>
            <div class="profile-full-info-item-wrapper">
                <h2>Образование(@Model.Educations.Count)</h2>
                @if (@Model.Educations.Count > 0)
                {
                    <input type="checkbox" class="expand-checkbox">
                    <div class="expand"></div>
                }
                <div class="expanded-info">

                    @if (Model.Educations.Count != 0)
                    {
                        foreach (var item in Model.Educations)
                        {
                            Html.RenderPartial("~/Views/Partial/FriendPage/education.cshtml", item, new ViewDataDictionary<Slug.Model.Users.EducationModel>(item));
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<img alt="my own avatar" id="img_avatar" src="@ViewBag.MyAvatar" style="display:none" />
<script src="~/Scripts/Private/Contacts/ContactsManage.js"></script>
<script src="~/Scripts/Private/Dialogs/SimpleDialog/StartDialogFromUserPage.js"></script>
<script src="~/Scripts/Private/Profile/Albums.js"></script>
<script src="~/Scripts/Private/Profile/Posts.js"></script>
