@{
    Layout = "~/Views/Shared/private_view.cshtml";
    @model Slug.Model.Users.FullUserInfoModel
}
@using Slug.Extensions

<h2>@Model.Name @Model.SurName</h2>


<div id="user_cut_data">
    <img src="@Model.AvatarUri" width="100" height="100" />
    <p>@Model.Name</p>
    <p>@Model.SurName</p>
    <p>@Model.DateBirth</p>
    <p>@Model.Sity</p>
    <p><button id="@Model.UserId" onclick="create_form()">@Html.Translate("Text_New_Message")</button></p>
    <div id="new_message_to_user" hidden="hidden">
        <span>@Html.Translate("Text_New_Message_Insert")</span>
        <p><input type="text" id="form_@Model.UserId"></p>
        <p>
            <button onclick="send_msg(@Model.UserId)">@Html.Translate("Button_Send_Message")</button>
            <button onclick="drop_elem()">@Html.Translate("Button_Cancel")</button></p>
        </div>
    <div id="error" hidden="hidden"><span>@Html.Translate("Text_Empty_Message")</span></div>
    </div>


<div id="user_albums">
    @if (Model.Albums.Count == 0)
    {
        <p><span>@Html.Translate("Text_User_Have_Not_Albums")</span></p>
    }
    else
    {
        <p><span>@Html.Translate("Text_User_Albums")</span></p>
        foreach (var item in Model.Albums)
        {
            Html.RenderPartial("~/Views/Partial/FriendPage/friend_album.cshtml", item, new ViewDataDictionary<Slug.Model.Albums.AlbumModel>(item));
        }

    }
</div>
<div id="education">
    <span>@Html.Translate("Text_Education") </span>
    @if (Model.Educations.Count != 0)
    {
        foreach (var item in Model.Educations)
        {
            Html.RenderPartial("~/Views/Partial/FriendPage/education.cshtml", item, new ViewDataDictionary<Slug.Model.Users.EducationModel>(item));
        }
    }
    else
    {
        <span>@Html.Translate("Text_Not_Filled")</span>
    }
</div>
<div id="events">
    <span>@Html.Translate("Text_Events") </span>
    @if (Model.Events.Count != 0)
    {
        foreach (var item in Model.Events)
        {
            Html.RenderPartial("~/Views/Partial/FriendPage/events.cshtml", item, new ViewDataDictionary<Slug.Model.Users.MemorableEventsModel>(item));
        }
    }
    else
    {
        <span>@Html.Translate("Text_Not_Filled")</span>
    }
</div>
<div id="works">
    <span>@Html.Translate("Text_Jobs") </span>
    @if (Model.Works.Count != 0)
    {
        foreach (var item in Model.Works)
        {
            Html.RenderPartial("~/Views/Partial/FriendPage/work.cshtml", item, new ViewDataDictionary<Slug.Model.Users.WorkPlacesModel>(item));
        }
    }
    else
    {
        <span>@Html.Translate("Text_Not_Filled")</span>
    }
</div>
<div id="live_places">
    <span>@Html.Translate("Text_Live_Plaves") </span>
    @if (Model.Places.Count != 0)
    {
        foreach (var item in Model.Places)
        {
            Html.RenderPartial("~/Views/Partial/FriendPage/place.cshtml", item, new ViewDataDictionary<Slug.Model.Users.LifePlacesModel>(item));
        }
    }
    else
    {
        <span>@Html.Translate("Text_Not_Filled")</span>
    }

</div>
<script src="~/Scripts/Common/CommonAlbums.js"></script>
<script src="~/Scripts/newMessageFromPage.js"></script>
<script src="~/Scripts/FriendAlbum.js"></script>