
@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@model  Slug.Model.DialogModel
@using Slug.Extensions;


<h1>@Html.Translate("Text_My_Message_Title")</h1>
<div id="dialog">
    @foreach (var item in Model.Messages)
    {
        Html.RenderPartial("~/Views/Partial/Dialogs/dialog_message.cshtml", item, new ViewDataDictionary<Slug.Model.DialogMessage>(item));
    }
</div>
<div id="pages" style="display:inline">
    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        <a href="@Url.Action("msg","private", new { id=Model.DialogId, page=i })">@i</a>
    }
</div>
<div id="user_cut_msg">
    <br />
    <span id="remote_cut_msg"></span>
    <br />
</div>
<div id="send_msg">
    <input type="text" id="new_msg" />
    <p>
        <input type="submit" value="@Html.Translate("Button_Send_Message")" id="sendButton" name="@Model.DialogId" />
    </p>
</div>

<script src="~/Scripts/chatp2pWS.js"></script>