
@{
    Layout = "~/Views/Shared/private_view.cshtml";
}


<h2>My messangers</h2>
<div id="dialog">
    @foreach (var msg in Model.Messages)
    {
        <div class="dialog_msg">
            <img src="@msg.AvatarPath" height="45" width="45" /><span>@msg.UserName</span><span>____@msg.SendTime</span>
            <p>@msg.Text</p>
        </div>
    }
</div>
<div id="pages" style="display:inline">
    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        <a href="@Url.Action("msg","private", new { id=Model.DialogId, page=i })">@i</a>
    }
</div>
<div id="user_cut_msg">
    <br />
    <span id="remote_cut_msg"></span>
    <br/>
</div>
<div id="send_msg">
    <input type="text" id="new_msg" />
    <p>
        <input type="submit" value="send now" id="sendButton" name="@Model.DialogId" />
    </p>
</div>

<script src="~/Scripts/chatp2pWS.js"></script>