
@{
    Layout = "~/Views/Shared/private_view.cshtml";
    @model Slug.Model.Users.FullUserInfoModel
}
<div id="cut_info">
    <p>
        <img src=@Model.AvatarUri id="img_avatar" width="100" height="100" />
        @using (Html.BeginForm("upload", "private", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" /><br>
            <input type="submit" value="Загрузить" />
        }
    </p>
    <p>
        <span>@Model.Name </span>
    </p>
    <p>
        <span>@Model.SurName </span>
    </p>
    <p>
        <span>@Model.Country</span>
        <span>@Model.Sity </span>
        <span>@Model.FullAges</span>
    </p>
</div>
<hr />
<div id="albums">
    <span>Мои Фотографии</span>
    <div id="my_albums">
        @foreach (var item in Model.Albums)
        {
            Html.RenderPartial("~/Views/Partial/OwnPage/my_album.cshtml", item, new ViewDataDictionary<Slug.Model.Albums.AlbumModel>(item));
        }
    </div>
    <div id="create_new_album">
        <p>
            <button onclick="ShowAlbumCreateForm()" id="create_new_album_button">Create New</button>
            <div id="create_album_form"></div>
        </p>
    </div>
</div>
<hr />
<div id="education">
    <span>Образование : </span>
    @foreach (var item in Model.Educations)
    {
        Html.RenderPartial("~/Views/Partial/OwnPage/education.cshtml", item, new ViewDataDictionary<Slug.Model.Users.EducationModel>(item));
    }
    <button onclick="newEducation()" class="new_educatio_button">Добавить</button>
</div>
<hr />
<div id="events">
    <span>Важные события : </span>
    @foreach (var item in Model.Events)
    {
        Html.RenderPartial("~/Views/Partial/OwnPage/events.cshtml", item, new ViewDataDictionary<Slug.Model.Users.MemorableEventsModel>(item));
    }
    <button onclick="newEvent()" class="new_event_button">Добавить</button>
</div>
<hr />

<div id="works">
    <span>Работа : </span>
    @foreach (var item in Model.Works)
    {
        Html.RenderPartial("~/Views/Partial/OwnPage/work.cshtml", item, new ViewDataDictionary<Slug.Model.Users.WorkPlacesModel>(item));
    }
    <button onclick="newWork()" class="new_work_button">Добавить</button>
</div>
<hr />

<div id="live_places">
    <span>Города где я жил : </span>
    @foreach (var item in Model.Places)
    {
        Html.RenderPartial("~/Views/Partial/OwnPage/place.cshtml", item, new ViewDataDictionary<Slug.Model.Users.LifePlacesModel>(item));
    }
    <button onclick="newLivePlace()" class="new_place_button">Добавить</button>
</div>
<script src="~/Scripts/System/ParseFormArray.js"></script>
<script src="~/Scripts/Common/CommonAlbums.js"></script>
<script src="~/Scripts/EditInfo.js"></script>
<script src="~/Scripts/Albums.js"></script>
