
@{
    ViewBag.Title = "My";
    Layout = "~/Views/Shared/private_view.cshtml";
}
<nav>
    <div>
        <a href="~/private/cnv">messages</a>
    </div>
    <div>
        <a href="~/private/crypto_cnv">crypto chat</a>
    </div>
    <div>
        <a href="~/private/invite_video_conversation">video chat</a>
    </div>

    <div>
        <a href="~/private/contacts">contacts</a>
    </div>
    <div>
        <a href="~/private/settings">settings</a>
    </div>
    <div>
        <a href="~/private/search">search</a>
    </div>
    <div>
        <a href="~/private/edit_profile">edit profile</a>
    </div>
    <div>
        <a href="~/private/logout">logout</a>
    </div>
</nav>

<div id="cut_info">
    <p>
        <img src=@Model.AvatarUri id="img_avatar" width="100" height="100" />
        @using (Html.BeginForm("upload", "private", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="upload" /><br>
            <input type="submit" value="Загрузить" />
        }
    </p>
    <p>
        <span>@Model.Name </span>
    </p>
    <p>
        <span>@Model.SurName </span>
    </p>
    <p>
        <span>@Model.Country</span>
        <span>@Model.Sity </span>
        <span>@Model.FullAges</span>
    </p>
</div>
<hr />
<div id="education">
    <span>Образование : </span>
    @foreach (var ed in Model.Educations)
    {
        <div class="education_div">
            <p>@ed.Title <button id="@ed.EntryId" onclick="dropEntry(this)">Удалить</button></p>
            <p>@ed.Country @ed.Sity</p>
            <p>@ed.Start - @ed.End</p>
            <p><span>@ed.Comment</span></p>
        </div>
    }
    <button onclick="newEducation()" class="new_educatio_button">Добавить</button>
</div>
<hr />
<div id="events">
    <span>Важные события : </span>
    @foreach (var item in Model.Events)
    {
        <div class="event_div">
            <p>
                @item.EventTitle <button id="@item.EntryId" onclick="dropEntry(this)">Удалить</button>
                @if (item.DateEvent != new DateTime())
                {
                    @item.DateEvent
                }
                @if (!string.IsNullOrWhiteSpace(item.EventComment))
                {
                    @item.EventComment
                }
            </p>
        </div>
    }
    <button onclick="newEvent()"  class="new_event_button">Добавить</button>
</div>
<hr />

<div id="works">
    <span>Работа : </span>
    @foreach (var item in Model.Works)
    {
        <div class="work_div">
            <p>@item.CompanyTitle @item.Position <button id="@item.EntryId" onclick="dropEntry(this)">Удалить</button></p>
            <p>@item.Country @item.Sity</p>
            @if (item.UntilNow == false)
            {
                <p>@item.Start - @item.End</p>
            }
            else
            {
                <p>@item.Start - настоящее время</p>
            }
        </div>
    }
    <button onclick="newWork()"  class="new_work_button">Добавить</button>
</div>
<hr />

<div id="live_places">
    <span>Города где я жил : </span>
    @foreach (var item in Model.Places)
    {
        <div class="live_place_div">
            <p>@item.Country @item.Sity <button id="@item.EntryId" onclick="dropEntry(this)">Удалить</button></p>
            <p><b>@item.Comment</b></p>
            @if (item.UntilNow == false)
            {
                <p>@item.Start - @item.End</p>
            }
            else
            {
                <p>@item.Start - настоящее время</p>
            }
        </div>
    }
    <button onclick="newLivePlace()" class="new_place_button">Добавить</button>
</div>

<script src="~/Scripts/EditInfo.js"></script>