@{
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Slug.Extensions;
<link href="~/Styles/private/search-style.css" rel="stylesheet" />
<div class="advanced-search">
    <form id="advancedSearchSubmit" action="" method="post">
        <div class="cut-search-form">
            <div class="search -name" tooltip="Введите имя или фамилию.">
                <span>Имя</span>
                <input type="text" id="search-name-input" name="user_name">
            </div>
            <div class="search -location">
                <div class="search -location-country">
                    <span>@Html.Translate("Saerch_Country")</span>
                    <select id="user_search_country" name="user_country" onchange="getCities('user_search_country', 'user_search_city', true)">
                        <option value="7">Россия</option>
                        <option value="380">Украина</option>
                        <option value="375">Белорусь</option>
                        <option value="-1">Не важно</option>
                    </select>
                </div>

                <div class="search -location-city">
                    <span>@Html.Translate("Saerch_City")</span>
                    <select id="user_search_city" name="user_city">
                        <option value="-1">Не важно</option>
                        <option value="495">Москва</option>
                    </select>
                </div>
            </div>

            <div class="search -sex">
                <span>@Html.Translate("Saerch_Sex")</span>
                <select name="user_sex">
                    <option value="1">Муж</option>
                    <option value="0">Жен</option>
                    <option value="-1">Не важно</option>
                </select>
            </div>

            <div class="search -age">
                <span>@Html.Translate("Saerch_Ages")</span>
                <select id="user_search_age" name="user_age">
                    <option value="-1">Не важно</option>
                    <option value="0">16-20</option>
                    <option value="1">21-26</option>
                    <option value="2">27-32</option>
                    <option value="3">33-40</option>
                    <option value="4">41-49</option>
                    <option value="5">50-59</option>
                    <option value="6">60-69</option>
                    <option value="7">> 70</option>
                </select>
            </div>
            <div class="search -purpose" tooltip="Найдите людей с такой же целью знакомств">
                <span>Цель знакомства</span>
                <select name="user_purpose" onchange="ChangePurpose()">
                    <option value="-1">Не важно</option>
                    <option value="0">Серьезные отношения</option>
                    <option value="1">Дружба и общение</option>
                    <option value="2">Секс</option>
                </select>
            </div>
        </div>
        <div class="cut-search-form -user-advanced-params" tooltip="Установите параметр 'Цель знакомства' чтобы детализировать поиск">

            <div class="search">
                <span>Ищу того кто ищет</span>
                <select name="user_search_sex">
                    <option value="-1">Не важно</option>
                    <option value="1">Мужчину</option>
                    <option value="0">Женщину</option>
                </select>
            </div>

            <div class="search -user-age">
                <span>Возрастом</span>
                <select name="user_search_age">
                    <option value="-1">Не важно</option>
                    <option value="0">16-20</option>
                    <option value="1">21-26</option>
                    <option value="2">27-32</option>
                    <option value="3">33-40</option>
                    <option value="4">41-49</option>
                    <option value="5">50-59</option>
                    <option value="6">60-69</option>
                    <option value="7">> 70</option>
                </select>
            </div>
        </div>

    </form>
    <button class="search-button" onclick="serchUser('advancedSearchSubmit')">@Html.Translate("Button_Saerch_Start")</button>
</div>
<script>
    function SetCitiesInSearch(jsonCities) {
        console.log('Yes, this is search page');
        var selectCities = $('#user_search_city');
        selectCities.empty();
        try {
            for (let i = 0; i < jsonCities.length; i++) {
                selectCities.append(new Option(jsonCities[i].Title, jsonCities[i].CityCode));
            }
            selectCities.append(new Option('Не важно', -1));
        }
        catch (ex) {
            console.log(ex);
        }
    }
</script>
<script src="~/Scripts/System/ParseFormArray.js"></script>
<script src="~/Scripts/Private/Search/Search.js"></script>