
@{
    ViewBag.Title = "settings";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Slug.Extensions;
@using type = Slug.Context.Dto.Settings.NotificationTypes;

<h1>Настройки</h1>
<div>
    <div>
        <form id="changeNotifyTypeSubmit" action="" method="post">
            <div id="notify_email">
                <p>Отправлять уведомление на <b>e-mail</b> при логине</p>
                @if (Model.NotifyType == type.Login)
                {
                    <span>@Html.Translate("Yes")</span>
                    <input type="radio" name="NotifyType" value="1" checked />
                    <span>@Html.Translate("No")</span>
                    <input type="radio" name="NotifyType" value="0" />
                }
                else
                {
                    <span>@Html.Translate("Yes")</span>
                    <input type="radio" name="NotifyType" value="1" />
                    <span>@Html.Translate("No")</span>
                    <input type="radio" name="NotifyType" value="0" checked />
                }
            </div>
        </form>
        <p>
            <button onclick="saveNotifyType()">@Html.Translate("Settings_Change")</button>
        </p>
    </div>
    <div>
        <form id="changeEmailSubmit" action="" method="post">
            <div id="email">
                <input type="email" name="NewEmail" placeholder="@Model.Email" />
            </div>
        </form>
        <p>
            <button onclick="saveEmail()">@Html.Translate("Settings_Change")</button>
        </p>
    </div>
    <div>
        <form id="changePasswSubmit" action="" method="post">
            <div id="change_pass">
                <input type="password" name="OldPassw" placeholder="@Html.Translate("Settings_Old_Password")" />
                <input type="password" name="OldPasswRep" placeholder="@Html.Translate("Settings_Old_Password_Rep")" />
                <input type="password" name="NewPassw" placeholder="@Html.Translate("Settings_New_Password")" />
            </div>
        </form>
        <p>
            <button onclick="savePassword()">@Html.Translate("Settings_Change")</button>
        </p>
    </div>
    <div>
        <form id="changeQuickMessage" action="" method="post">
            @if (Model.QuickMessage)
            {
                <input type="checkbox" name="QuickMessage" checked />
            }
            else
            {
                <input type="checkbox" name="QuickMessage" />
            }
                <span>@Html.Translate("Settings_Pre_messages")</span>
        </form>
        <p>
            <button onclick="saveQuickMessage()">@Html.Translate("Settings_Change")</button>
        </p>
    </div>
</div>
<script src="~/Scripts/System/ParseFormArray.js"></script>
<script src="~/Scripts/System/sha512.js"></script>
<script src="~/Scripts/System/SHA-512.js"></script>
<script src="~/Scripts/Settings.js"></script>
