@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Slug.Context.Dto.Search;
@{
    var purpose = new Dictionary<DatingPurposeEnum, string>()
{
{DatingPurposeEnum.Communication, "общения"},
{DatingPurposeEnum.SeriousRelationship, "серьезных отношений"},
{DatingPurposeEnum.Sex, "секса"}
};

    var sex = new Dictionary<SexEnum, string>()
{
{SexEnum.man, "мужчиной"},
{SexEnum.woman, "женщиной"}
};

    var age = new Dictionary<AgeEnum, string>()
{
{AgeEnum.from16to20, "16 - 20 лет"},
{AgeEnum.from21to26, "21 - 26 лет"},
{AgeEnum.from27to32, "27 - 32 лет"},
{AgeEnum.from33to40, "23 - 40 лет"},
{AgeEnum.from41to49, "41 - 49 лет"},
{AgeEnum.from50to59, "50 - 59 лет"},
{AgeEnum.from60to69, "60 - 69 лет"},
{AgeEnum.morethan70, "более 70"}
};


}

<link href="~/Styles/private/foreign-user-style.css" rel="stylesheet" />
<link href="~/Styles/private/profile-info-style.css" rel="stylesheet" />

@using Context;
@using Slug.Extensions;
<title>@Model.Name @Model.SurName</title>


<div class="user-profile">
    <div class="-info -left">
        <img src="@Model.AvatarResizeUri">
    </div>
    <div class="-info -right">
        <h2>@Model.Name @Model.SurName</h2>
        <span>Возраст : @Model.Age</span>
        <span>@Model.Country @Model.City</span>
        <span id="hello-status" class="user-comment">@Model.HelloMessage</span>
        <div class="user-search-data">
            <span>Познакомлюсь с </span>
            <span>@sex[Model.userSearchSex]</span>
            <span>@age[Model.userSearchAge]</span>
            <span>для @purpose[Model.purpose]</span>
        </div>
    </div>
</div>

@if (Model.Status == FriendshipItemStatus.Close || Model.Status == FriendshipItemStatus.None)
{
<div class="add-contact">
    <button onclick="addToContacts()">Добавить в контакты</button>
    <span class="help-message">Что бы начать общение, добавьте пользователя в контакты</span>
</div>

}
else if (Model.Status == FriendshipItemStatus.Pending)
{
    <div class="user-profile-status">
        <span>@Html.Translate("Text_Contact_Not_Accepted")</span>
    </div>
}
<script>function addToContacts() {
        HUB.invoke('AddFriend', getID());
    }

    HUB.on('AddUserResponce', function (responce_html) {
        $("#add_contact").html(responce_html);

    });

    function getID() {
        var url = window.location;
        var params = /[0-9]*$/g.exec(url);
        return params[0];
    }</script>
