
@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/private_template.cshtml";
}
@using Context;
@using Slug.Extensions;


<h1>@Model.Name @Model.SurName</h1>

<div>
    <div id="user_cut_data">
        <img src="@Model.AvatarPath" height="100" width="100" />
        @if (Model.Status == FriendshipItemStatus.Close || Model.Status == FriendshipItemStatus.None)
        {
            <p>
                <div id="add_contact">
                    <button onclick="addToContacts()">@Html.Translate("Text_Add_Contact")</button>
                </div>
            </p>
        }
        else if (Model.Status == FriendshipItemStatus.Pending)
        {
            <p>@Html.Translate("Text_Contact_Not_Accepted")</p>
        }
    </div>
</div>

<script src="~/Scripts/addContact.js"></script>