@{
    ViewBag.Title = "users";
    Layout = "~/Views/Shared/private_template.cshtml";
}
<link href="~/Styles/private/foreign-user-style.css" rel="stylesheet" />
<link href="~/Styles/private/profile-info-style.css" rel="stylesheet" />

@using Context;
@using Slug.Extensions;
<title>@Model.Name @Model.SurName</title>


<div class="user-profile">
    <div class="-info -left">
        <img src="@Model.AvatarResizeUri">
    </div>
    <div class="-info -right">
        <h2>@Model.Name @Model.SurName</h2>
        <span>@Model.Age лет</span>
        <span>@Model.Country @Model.City</span>
        <span id="hello-status" class="user-comment">@Model.HelloMessage</span>
        <div class="user-search-data">
            <span>Ищу</span>
            <span>девушку</span>
            <span>26 - 30</span>
            <span>лет для общения</span>
        </div>
    </div>
</div>

@if (Model.Status == FriendshipItemStatus.Close || Model.Status == FriendshipItemStatus.None)
{
<div class="add-contact">
    <button onclick="addToContacts()">Добавить в контакты</button>
</div>
}
else if (Model.Status == FriendshipItemStatus.Pending)
{
    <span>@Html.Translate("Text_Contact_Not_Accepted")</span>
}

<script src="~/Scripts/addContact.js"></script>