@using Slug.Extensions    

<div id="add_education_entry">
    <form action="" id="edu_form">
        <p id="level">
            <span>
                @Html.Translate("Text_Education_Level") <select name="EducationType" onchange="onEducationLevelChange(this.value)">
                    <option value=0>@Html.Translate("Education_Level_0")</option>
                    <option value=1>@Html.Translate("Education_Level_1")</option>
                    <option value=2>@Html.Translate("Education_Level_2")</option>
                </select>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_Education_Title") <input type="text" name="Title" required>
            </span>
            <span class="edu_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_Start_Date")
                <input type="date" name="Start" required>
                <span class="edu_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_End_Date") <input type="date" name="End" id="end_education">
            </span>
            @Html.Translate("Text_For_Now_Time") <input type="checkbox" id="education_till_now" name="UntilNow" onClick="untill_now_date(end_education.id, this.id)">
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_Country") <select id="user_search_country" name="Country" onchange="getCities(user_search_country.id, user_search_city.id)">
                    <option value="7">Россия</option>
                    <option value="1">USA</option>
                </select>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_City") <select id="user_search_city" name="Sity">
                    <option value="495">Москва</option>
                </select>
            </span>
        </p>
        <p><span>@Html.Translate("Text_Your_Comment") <input type="text" name="Comment"></span></p>

        <div id="command_form">
            <input type="button" value="@Html.Translate("Button_Cancel")" onclick="dropHTMLForm(add_education_entry.id, 'new_educatio_button')">
            <input type="button" onclick="send('/api/add_education', 'edu_form', 'new_educatio_button', 'edu_requered_field')" value="@Html.Translate("Button_Send_Message")">
        </div>
    </form>
</div>
