@using Slug.Extensions

<div id="add_event_entry">
    <form action="" id="event_form">
        <p><span>
            @Html.Translate("Event_Title") <input type="text" name="EventTitle" required>
        </span>
           <span class="event_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span></p>
        <p><span>
            @Html.Translate("Events_Date") <input type="date" name="DateEvent" required>
        </span><span class="event_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span></p>
        <p><span>
            @Html.Translate("Text_Your_Comment") <input type="text" name="EventComment">
        </span></p>

        <div id="command_form"></div>
            <input type="button" value="@Html.Translate("Button_Cancel")" onclick="dropHTMLForm(add_event_entry.id, 'new_event_button')">
            <input type="button" onclick="send('/api/add_event', 'event_form', 'new_event_button', 'event_requered_field')" value="@Html.Translate("Button_Send_Message")">
    </form>
</div>