@using Slug.Extensions


<div id="add_place_entry">
    <form action="" id="place_form">
        <p>
            <span>@Html.Translate("Text_Your_Comment") <input type="text" name="Comment"></span>
        </p>
        <p>
            <span>@Html.Translate("Text_Start_Date") <input type="date" name="Start" required></span>
            <span class="place_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_End_Date") <input type="date" name="End" id="end_live_l">
            </span> @Html.Translate("Text_For_Now_Time")
            <input type="checkbox" id="live_till_now" name="UntilNow" onClick="untill_now_date(end_live_l.id, this.id)">
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_Country")
                <select id="user_search_country_l" name="Country" onchange="getCities(user_search_country_l.id, user_search_city_l.id)">
                    <option value="7">Россия</option>
                    <option value="1">USA</option>
                </select>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_City") <select id="user_search_city_l" name="City">
                    <option value="495">Москва</option>
                </select>
            </span>
        </p>

        <div id="command_form">
            <input type="button" value="@Html.Translate("Button_Cancel")" onclick="dropHTMLForm(add_place_entry.id, 'new_place_button')">
            <input type="button" onclick="send('/api/add_places', 'place_form','new_place_button','place_requered_field')" value="@Html.Translate("Button_Send_Message")">
        </div>
    </form>
</div>