@using Slug.Extensions

<div id="add_work_entry">
    <form action="" id="work_form">
        <p>
            <span>
                @Html.Translate("Text_Work_Company_Title")<input type="text" name="CompanyTitle" required>
            </span>
            <span class="work_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_Work_Position") <input type="text" name="Position" required>
            </span>
            <span class="work_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_Start_Date")<input type="date" name="Start" required>
            </span>
            <span class="work_requered_field" style="color:red"> @Html.Translate("Text_Fielsd_Requered")</span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_End_Date")<input type="date" name="End" id="end_work">
            </span>
            @Html.Translate("Text_For_Now_Time") <input type="checkbox" id="work_till_now" name="UntilNow" onClick="untill_now_date(end_work.id, this.id)">
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_Country") <select id="user_search_country_w" name="Country" onchange="getCities(user_search_country_w.id, user_search_city_w.id)">
                    <option value="7">Россия</option>
                    <option value="1">USA</option>
                </select>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Saerch_City") <select id="user_search_city_w" name="Sity"><option value="495">Москва</option></select>
            </span>
        </p>
        <p>
            <span>
                @Html.Translate("Text_Your_Comment") <input type="text" name="Comment">
            </span>
        </p>
    </form>
</div>
<div id="command_form">
    <input type="button" value="@Html.Translate("Button_Cancel")" onclick="dropHTMLForm(add_work_entry.id, 'new_work_button')">
    <input type="button" onclick="send('/api/add_works', 'work_form','new_work_button','work_requered_field')" value="@Html.Translate("Button_Send_Message")">
</div>
