@model Slug.Model.Users.EducationModel
@using Slug.Extensions

<div class="item-info">
    <h3>@Model.Title</h3>
    <span>@Model.Country @Model.City</span>
    <span>@Model.Start - @Model.End</span>
    <span class="user-comment">«@Model.Comment»</span>
</div>