@model Slug.Model.Users.LifePlacesModel
@using Slug.Extensions


<div class="live_place_div">
    <p>@Model.Country @Model.Sity </p>
    <p><b>@Model.Comment</b></p>
    @if (Model.UntilNow == false)
    {
        <p>@Model.Start - @Model.End</p>
    }
    else
    {
        <p>@Model.Start - @Html.Translate("Text_For_Now_Time")</p>
    }
</div>