@model Slug.Model.Users.WorkPlacesModel
@using Slug.Extensions

<div class="work_div">
    <p>@Model.CompanyTitle @Model.Position</p>
    <p>@Model.Country @Model.Sity</p>
    @if (Model.UntilNow == false)
    {
        <p>@Model.Start - @Model.End</p>
    }
    else
    {
        <p>@Model.Start -  @Html.Translate("Text_For_Now_Time")</p>
    }
</div>
