@model Slug.Model.Users.LifePlacesModel
@using Slug.Extensions

<div class="info-item place">
    <div class="item-info">
        <h3>@Model.Country @Model.City</h3>
        <span class="user-comment">&laquo;@Model.Comment&raquo;</span>
        <span>с @Model.StartDateFormat по @Model.EndDateFormat</span>
    </div>
    <div class="item-delete">
        <button id="@Model.Id" class="delete-button" onclick="DeleteProfileEntry(this.id)">Удалить</button>
    </div>
</div>