@model Slug.Model.Users.LifePlacesModel
@using Slug.Extensions

<div class="info-item place">
    <div class="item-info">
        <h3>@Model.Country @Model.Sity</h3>
        <span class="user-comment">&laquo;@Model.Comment&raquo;</span>
        <span>@Model.Start - @Model.End</span>
    </div>
    <div class="item-delete">
        <button id="@Model.EntryId" class="delete-button" onclick="dropEntry(this)">Удалить</button>
    </div>
</div>