@model Slug.Model.Users.FoudUser
@using Slug.Extensions
@using Slug.Context.Dto.Search;
@using SharedModels.Enums

@{ 
    var purpose = new Dictionary<DatingPurposeEnum, string>()
    {
        {DatingPurposeEnum.Communication, "общения"},
        {DatingPurposeEnum.NoDating, "не знакомлюсь"},
        {DatingPurposeEnum.SeriousRelationship, "отношений"},
        {DatingPurposeEnum.Sex, "секса"},
    };

    var sex = new Dictionary<SexEnum, string>()
    {
        {SexEnum.man, "мужчину"},
        {SexEnum.woman, "женщину"}
    };

    var age = new Dictionary<AgeEnum, string>()
    {
        {AgeEnum.from16to20, "16 - 20 лет"},
        {AgeEnum.from21to26, "21 - 26 лет"},
        {AgeEnum.from27to32, "27 - 32 года"},
        {AgeEnum.from33to40, "33 - 40 лет"},
        {AgeEnum.from41to49, "41 - 49 лет"},
        {AgeEnum.from50to59, "50 - 59 лет"},
        {AgeEnum.from60to69, "60 - 69 лет"},
        {AgeEnum.morethan70, "более 70"}
    };

}
<div class="found_user" id="user_@Model.UserId">
    <div class="fount-user-header" onclick="redirectToUser(@Model.UserId)">
        @if (Model.Vip)
        {
            <img alt="vip пользователь" title="VIP Пользователь" class="vipuser-crown" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1578220125/system/86f6452c09d91a8a507417a473d956d1.png" />
        }
        <div class="fount-user-img-container">
            <img class="found-user-avatar" alt="user avatar" src="@Model.LargeAvatar" />
        </div>
    </div>
    <div class="fount-user-name">
        <span class="user-info weight name">
            @Model.Name @Model.SurName @Model.Age
            @{long lastDig = (long)Model.Age % 10;}
            @if (lastDig == 1 && Model.Age != 11)
            {
                <span class="weight name">год</span>
            }
            else if (lastDig >= 2 && lastDig <= 4 && Model.Age != 12 && Model.Age != 13 && Model.Age != 14)
            {
                <span class="weight name">года</span>
            }
            else
            {
                <span class="weight name">лет</span>
            }
        </span>
        <p style="font-style:italic"><span class="user-info">@Model.HelloMessage</span></p>
    </div>
    <p><span class="user-info">@Model.Country ⚈ @Model.City</span></p>
    <p>
        @if (Model.purpose != DatingPurposeEnum.NoDating)
        {
        <p><span class="weight user-info">Знакомлюсь для : @purpose[Model.purpose]</span></p>
        <p><span class="user-info">Ищу : @sex[Model.userSearchSex] @age[Model.userSearchAge]</span></p>
    }
    else
    {
        <span class="weight user-info">не знакомлюсь</span>
    }
        </p>
    </div>