@model Slug.Model.CryptoChat
@using Slug.Extensions

<div class="chat-wrapper">
    <div class="cryptp-chat-active" id="@Model.GuidId">

        <div class="active-chat-period">
            <p>
                <span>Дата создания @Model.OpenDate.ToString("D") @Model.OpenDate.ToString("hh:mm")</span>
            </p>
            <p>
                <span>Дата закрытия @Model.CloseDate.ToString("D") @Model.CloseDate.ToString("hh:mm")</span>
            </p>
            <p>
                <span>
                    Осталось : <span class="experation-mins">@Model.RemainingMins</span> мин
                    <span class="experation-sec">@Model.RemainingSecs</span> сек
                </span>
            </p>
        </div>
        <div class="chat-head">
            <img src="@Model.InterlocutorAvatar" />
        </div>
        <div class="chat-body">
            <h2>@Model.InterlocutorName @Model.InterlocutorSurName</h2>
            <img src="@Model.UserLastMessageSenderAvatar" />
            <span class="last_msg_crypto">@Model.LastMessage</span>
            <span>@Model.LastMessageSendDate.ToString("hh:mm")</span>
        </div>
    </div>
</div>
