@model Slug.Model.CryptoChat
@using Slug.Extensions

<div class="chat-wrapper">
    <div class="cryptp-chat-self-created" id="@Model.GuidId">
        <div class="active-chat-period">
            <p>
                <span>Приглашение отправлено @Model.OpenDate.ToString("yyyy MM dd hh:mm")</span>
            </p>
            <p>
                <span>Чат будет закрыт @Model.CloseDate.ToString("yyyy MM dd hh:mm")</span>
            </p>
            <p>
                <span>
                    Осталось <span class="experation-mins">@Model.RemainingMins </span> мин
                    <span class="experation-sec">@Model.RemainingSecs </span> сек
                </span>
            </p>
        </div>

        <div class="chat-head">
            <img src="@Model.InterlocutorAvatar" />
            <h2>@Model.InterlocutorName @Model.InterlocutorSurName</h2>
            <span>приглашение еще не принято.</span>
        </div>

    </div>
</div>
