@model Slug.Model.VideoConference.CallModel

<div class="history_call">
    <p>
        @if (Model.State == 0)
        {
            <img class="img_call_id" id="@Model.CallerUserId" width="30" height="30" />
            <span class="call_name" id="@Model.CallerUserId"></span>
            <span>Call to you</span>
            <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1555601678/in_call.png" width="30" height="30" />
        }
        else
        {
            <span>You called to</span>
            <img class="img_call_id" id="@Model.CalleUserId" width="30" height="30" />
            <span class="call_name" id="@Model.CalleUserId"></span>
            <img src="https://res.cloudinary.com/dlk1sqmj4/image/upload/v1555601712/out_call.png" width="30" height="30" />
        }
    </p>
    <span>@Model.Date</span>

</div>