@model Slug.Model.Users.BaseUser
@using Slug.Extensions

    <div class="friend_div" id="@Model.UserId">
        <label>
            @{
                var activeSpan = new Dictionary<bool, string>()
                {
                    { true, "online"},
                    { false, "offline - нельзя вызвать"}
                };

                var activeClass = new Dictionary<bool, string>()
                {
                    { true, "on"},
                    { false, "off"}
                };

                var activeDisable = new Dictionary<bool, string>()
                {
                    { true, ""},
                    { false, "disabled='disabled'"}
                };
            }
            <input type="radio" class="fr" name="friend" value="@Model.UserId" @activeDisable[Model.IsActive] />
            <div class="circle">
                <div class="circle--inner circle--inner__1"></div>
                <div class="circle--inner circle--inner__2"></div>
                <div class="circle--inner circle--inner__3"></div>
                <div class="circle--inner circle--inner__4"></div>
                <div class="circle--inner circle--inner__5"></div>
                <div class="circle--outer"></div>
            </div>
            <div class="selected-overflow"></div>
        </label>
        <div class="fr-head">
            <img class="avatar" src="@Model.AvatarResizeUri" onclick="redirectToFriend(@Model.UserId)">
            <h2 onclick="redirectToFriend(@Model.UserId)">@Model.Name @Model.SurName</h2>
            <br>
            <span>@Model.Age лет @Model.Country @Model.City</span>
            <br>
            <span class="wire-status @activeClass[Model.IsActive]">@activeSpan[Model.IsActive]</span>
        </div>
    </div>

