<p>
    <div id="title_@ViewBag.fotoId" onclick="add_info('@ViewBag.fotoId', 0)">
    <b>@ViewBag.titl</b>
    <img id="edit_tit_@ViewBag.fotoId" src="https://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25/v1558016108/system/images.png" />
    </div>
</p>
<p>
    <img src="@ViewBag.fullFoto" /><button onclick="drop_foto('@ViewBag.fotoId')">Удалить</button>
</p>
<p>
    <div id="desc_@ViewBag.fotoId" onclick="add_info('@ViewBag.fotoId', 1)">
    <span>@ViewBag.comm</span>
        <img id="edit_desc_@ViewBag.fotoId" src="http://res.cloudinary.com/dlk1sqmj4/image/upload/c_scale,h_25/v1558014890/system/fgy1pkgfwhlemkvatoiu.png" />
        </div>
</p>