@using Slug.Extensions

<form action="" id="upload_foto_form_@ViewBag.album">
    <p><span>@Html.Translate("Text_Foto_Title") </span><input type="text" name="Title" /></p>
    <p><span>@Html.Translate("Text_Foto_Description") </span><input type="text" name="AuthorDescription" /></p>
    <p>
        <span>@Html.Translate("Text_Open_Image") </span><input type="file" enctype="multipart/form-data" id="input_photo" accept=".jpg, .bmp, .png" required multiple />
                                                        <span id="foto_not_upload" style="color:red; display:none"> @Html.Translate("Text_Fielsd_Requered")</span>
    </p>
</form>
<button id="close_album_form" onclick="close_form('upload_foto_div_'@ViewBag.album', 'create_new_album_button', 'inline-block')">@Html.Translate("Button_Cancel")</button>
<button onclick="uploadFotoToAlbum('@ViewBag.album')">@Html.Translate("Button_Create")</button>