@model Slug.Model.Users.FriendModel
@using Slug.Extensions


<div class="accepted_user_" id="@Model.UserId">
    <div onclick="redirectToFriend(@Model.UserId)">
        <img src="@Model.AvatarResizeUri" />
        <h2>@Model.Name @Model.SurName</h2>
    </div>
        <button onclick="dropFromContacts(@Model.UserId)">@Html.Translate("Button_Delete_Contact")</button>
</div>
