@model Slug.Model.Users.FriendModel
@using Slug.Extensions


<div class="invitation_user" onclick="redirectToFriend(@Model.UserId)">
        <img src="@Model.AvatarResizeUri" />
        <h2>@Model.Name @Model.SurName</h2>
        <button onclick="dropFromContacts(@Model.UserId)">@Html.Translate("Button_Delete_Contact")</button>
</div>
