
@model Slug.Model.Users.FriendModel

<div id="incomm_invitations_@Model.UserId">
    <div class="invitation" id="@Model.UserId">
        <img src="@Model.AvatarPath" height="50" width="50" /> <span>@Model.Name  @Model.SurName</span>
    </div>
    <input type="button" id="add_contact_button" value="accept friendship" onclick="acceptFriendshipInvitation(@Model.UserId)" />
</div>