
@{
    Layout = "~/Views/Shared/guest.cshtml";
}
@using Slug.Extensions;


<h2>@Html.Translate("Activate")</h2>

<div id="incorrect" style="display: @ViewBag.incorrect_div_display">
    <p>@Html.Translate("Activate_Incorrect")</p>
    <p>@Html.Translate("Activate_Incorrect_Check_Email")</p>
</div>

<div id="success" style="display: @ViewBag.success_div_display">
    <p>@Html.Translate("Activate_Confirm")</p>
    <p>@Html.Translate("Activate_Can_Login") <a href="@Url.Action("login","guest")">@Html.Translate("Here")</a></p>
</div>


