@using Slug.Extensions;

<title>@Html.Translate("Site_Title_Public")</title>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="~/Resources/images/favicon.ico" />
    @*<script src="~/Scripts/System/jquery-1.6.4.js"></script>
        <script src="~/Scripts/System/jquery-1.6.4.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    @if (ViewBag.IsIndex)
    {
        <script src="~/Scripts/Guest/index_form.js"></script>
    }
    <script src="~/Scripts/System/AsyncRequest.js"></script>
    <script src="~/Scripts/Guest/validationGuest.js"></script>
    <script src="~/Scripts/System/ParseFormArray.js"></script>
    <script src="~/Scripts/System/sha512.js"></script>
    <script src="~/Scripts/System/SHA-512.js"></script>
    <script src="~/Scripts/System/Validation.js"></script>
    <link href="~/Styles/guest/index_form.css" rel="stylesheet" />
    <link href="~/Styles/guest/index_style.css" rel="stylesheet" />
    <link href="~/Styles/common/await.css" rel="stylesheet" />
</head>

@if (ViewBag.IsIndex)
{
<div class="head_navigation" hidden>
	<div class="head_fix_menu">
		<button class="header-button" onclick="scrolling('main', +80)">Главная</button>
		<button class="header-button" onclick="scrolling('functions', 0)">Возможности</button>
		<button class="header-button" onclick="scrolling('help', -100)">Справка (FAQ)</button>
		<button class="header-button" onclick="show_feedback_form()">Обратная связь</button>
		<button class="header-button" onclick="scrolling('reg_log', -70), show_register()">Зарегистрироваться</button>
		<button class="header-button" onclick="scrolling('reg_log', -70), show_login()">Войти</button>
	</div>
</div>
<div class="right_navigation" id="right_navigation" hidden>
    <nav>
        <ul>
            <li>
                <a href="#main">
                    <div id="help_nav"></div>
                    <svg class="circle_nav">
                        <circle id="main_circle" cx="12" cy="12" r="5"></circle>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#reg_log">
                    <svg class="circle_nav">
                        <circle id="function_circle" cx="12" cy="12" r="5"></circle>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#functions">
                    <svg class="circle_nav">
                        <circle id="reg_log_circle" cx="12" cy="12" r="5"></circle>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#help">
                    <svg class="circle_nav">
                        <circle id="help_circle" cx="12" cy="12" r="5"></circle>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>
}
<div class="navigation">
    @if (ViewBag.IsIndex)
    {
        @RenderPage("~/Views/Shared/public_index_navigation.cshtml")
    }
    else
    {
        @RenderPage("~/Views/Shared/public_other_navigation.cshtml")
    }
</div>
<div class="feed_back_form">
</div>
<div class="title_image">
    <img src="/Resources/images/social_media_img.png" />
</div>
<div class="fullscreen-bg">
    <div class="overlay">
        <img id="connection_vectors" src="/Resources/images/comet.png" />
        <h1>Comet Connection<h1>
        <h2>Будь всегда на связи</h2>
    </div>
    <video loop muted autoplay poster="/Resources/images/space_main_background.png" class="fullscreen-bg__video">
        <source src="/Resources/video/space_main_background.mp4" type="video/mp4">
    </video>
</div>

@{
    @RenderBody();
}

<div class="footer">
    <img src="/Resources/images/abstract_footer_left.png" />
    <div class="gradient_footer">
        @if (ViewBag.IsIndex)
        {
            @RenderPage("~/Views/Shared/public_index_navigation.cshtml")
        }
        else
        {
            @RenderPage("~/Views/Shared/public_other_navigation.cshtml")
        }
        <p>Copyright © 2019, Comet Connection, All rights reserved.</p>
        <div class="about">
            <h3>О сервисе Comet Connection</h3>
            <p>Comet Connection - бесплатный сервис созданный для того что бы ваша связь с друзьями и близкими никогда не прерывалась.<p>
        </div>
    </div>
</div>
