@{
    //ViewBag.Title = "private_view";
    //Layout = "~/Views/Shared/logo.cshtml";
    
}
@using Slug.Extensions;

<head>
    <script src="~/Scripts/System/BigInteger.js"></script>
    <script src="~/Scripts/System/jquery.signalR-2.4.0.js"></script>
    <script src="~/Scripts/System/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/Scripts/notificationHub.js"></script>
</head>
<div id="notification_div"></div>
<nav id="navigation_bar">
    <div>
        <a href="~/private/my">@Html.Translate("Navigate_Main")</a>
    </div>
    <div>
        <a href="~/private/cnv">@Html.Translate("Navigate_Mess")</a>
    </div>
    <div>
        <a href="~/private/crypto_cnv">@Html.Translate("Navigate_Crypto")</a>
    </div>
    <div>
        <a href="~/private/invite_video_conversation">@Html.Translate("Navigate_Video")</a>
    </div>

    <div>
        <a href="~/private/contacts">@Html.Translate("Navigate_Contacts")</a>
    </div>
    <div>
        <a href="~/private/settings">@Html.Translate("Navigate_Settings")</a>
    </div>
    <div>
        <a href="~/private/search">@Html.Translate("Navigate_Seasrch")</a>
    </div>
    <div>
        <a href="~/private/logout">@Html.Translate("Navigate_LogOut")</a>
    </div>
</nav>
@{
    @RenderBody();
}